---
import Layout from '../layouts/Layout.astro';
import TeamCard from '../components/TeamCard.astro';
---

<Layout title="Welcome to Astro.">
	<main class="max-w-[100rem] w-full mx-auto px-8 flex-auto justify-center">
		<div class="prose mx-auto max-w-[100rem]">
			<p class="justify-self-center mx-auto">
				
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur urna vitae metus venenatis viverra. Etiam mauris tortor, tempus nec imperdiet vel, pharetra eu nunc. Aliquam blandit diam sed arcu semper, finibus vulputate ex hendrerit. Quisque non ullamcorper ipsum. Maecenas venenatis accumsan lorem eu cursus. Integer tincidunt tempor quam at accumsan. Aliquam ac varius augue, ac vestibulum dolor. Quisque tincidunt eu nulla sed condimentum. Pellentesque placerat fermentum nisl, id convallis diam imperdiet vitae. Nam interdum ex a nisi ultrices aliquet. Mauris ullamcorper porta ipsum, quis mattis purus tempus tincidunt.

			Nam efficitur orci et porta gravida. Ut arcu dui, mollis vel lorem ac, ultrices posuere libero. Quisque vestibulum gravida nunc in semper. Nullam at aliquet turpis. Praesent dolor nisi, laoreet at mauris vel, consectetur feugiat ipsum. Sed euismod, justo gravida euismod molestie, erat nisl imperdiet odio, ac euismod purus eros vel libero. Aliquam sit amet tincidunt diam, et tempor nunc. Morbi vehicula orci molestie viverra dapibus. Cras vel nulla in ante varius tempor. Nullam laoreet elit sem, id aliquam lectus aliquam ut. Aliquam sapien purus, pretium vel tempus ut, varius at sapien. 
			</p>
			<h2>Teams</h2>
		</div>
		<div class="grid grid-cols-2 content-evenly">
			<TeamCard href="" title="StuyPulse" body="example text"/>
			<TeamCard href="" title="SciBorgs" body="more example text"/>
		</div>
	</main>
</Layout>

<!-- <style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style> -->
