---
export interface NavItem {
	title: string;
	href: string;
}

export interface Props {
  items: NavItem[]
}

const { items } = Astro.props as Props
---

<heade>
  <nav class="navbar bg-base-100/75 sticky top-4 w-auto m-4 border-solid border-4 shadow-xl dark:border-purple-900 rounded-xl backdrop-blur-md">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost normal-case text-xl">NYC Alliance</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        {items.map((item) => <li><a href={item.href}>{item.title}</a></li>)}
      </ul>
    </div>
  </nav>
</header>

